.page-controls {
    display: flex;
    justify-content: center;
}

.page-controls > ul {
    display: flex;
    list-style: none;    
}

.page-controls > ul > li{
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
}

