/**
 * GENERAL
 */

:root {
    --bg-color-body: grey;
    --bg-color: #eee;
    --color: black;    
    --color-primary: lightgrey;
    --color-secundary: rgb(104, 104, 104);
    --color-alert: red;
    --txt-lg: 1.2rem;
    --txt-sm: 0.9rem;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-body);
    color: var(--color);
}

h1, h2, h3, p, input, form {
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;    
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--color);
    text-transform: capitalize;
}

a:visited {
    color: var(--color);
}

a:hover {    
    color: var(--color-secundary);
}

/**
 * CONTAINER
 */

.container {          
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
    grid-template-rows: min-content min-content auto min-content;
    grid-gap: 0;
    width: 100%;
    background-color: var(--bg-color);
    min-height: 100vh;
}

/**
 * HEADER
 */ 

 header {
    grid-column: 1 / span 12;    
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;    
    padding: 0.5rem;
    background-color: var(--color-primary);    
}

.header-login {
    display: flex;
    background-color: red;
}

/**
 * NAV
 */

 nav {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: row;    
    padding: 0.5rem;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    display: flex;
    padding: 0 0.5rem;
}

nav > .login-box {
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    justify-content: flex-end;
}

/**
 * MAIN
 */

main {
    grid-column: 1 / span 12;    
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    /*background-color: red;*/
}

/**
 * FOOTER
 */

footer {
    grid-column: 1 / span 12;    
    grid-row: 4 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--color-primary);    
}

/**
 * MAIN BOX 
 */

 .box-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

/**
 * MAIN FROM
 */

.form-main {
    display: flex;    
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    border: 1px solid var(--color);
    background-color: var(--color-primary);
    
}

.form-main input {
    margin-left: 0.5rem;
}

.form-main button {
    align-self: flex-end;
    min-width: 6rem;
}

/**
 * ERROR BOX
 */

 .box-error {
    position: fixed; 
    bottom: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(50%);    
    padding: 1rem;    
    background-color: lightcoral;
    border: 1px solid black;    
}

.box-error > table {
    border-collapse: collapse;
}

.box-error > table tr td {
    padding: 0.5rem;
}

.box-error > table tr td:first-of-type {
    font-weight: bold;
}

.box-error ul {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 2rem;
}

/**
 * BOTTONS BOX
 */

 .box-bottons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin: 0 auto;*/
    padding: 0.5rem;
}

/**
 * BOTTONS
 */
 
a.btn {
    width: 10rem;
    padding: 0.5rem 1rem;
    /*margin: 0.5rem;*/
    border: 1px solid var(--color);
    background-color: var(--color-primary);
    text-align: center;
    text-transform: uppercase;
}

a.btn:visited {
    color: var(--color);
}

a.btn:hover {
    color: var(--color);
    background-color: var(--color-secundary);
}



/**
 * MESSAGE BOX
 */

 .box-message {
    display: flex;
    flex-direction: column;    
    padding: 0.5rem;    
    /*margin: 0.5rem;    */
    border: 1px solid black;    
    font-size: 0.8rem;
}

/**
 * DETAILS BOX
 */

 .box-details {
    display: flex;
    flex-direction: column;    
    border: 1px solid black;    
    font-size: 0.8rem;
    padding: 1rem;
}

.box-details label {
    align-self: flex-start;
}

.box-details input, select {
    align-self: flex-start;
}


/**
 * NAV ADMIN
 */
.nav-admin {
    border-top: 0px solid var(--color);
}
.nav-admin > span {
    background-color: greenyellow;
    border-top: 1px solid var(--color);
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}