/** 
 * Stylesheet for tdata.
 *
 * Project Hotel Luxury.  
 * Rubén Rocha, Andrea Muñoz.
 */

:root {
    --color-table-head: grey;
    --color-table-odd: lightgrey;
    --color-table-even: white;
}

.tdata-container {
  display: grid;
  width: 100%;  
  /*grid-template-columns: min-content repeat(2, min-content) min-content;*/
  border: 1px solid black;
}

.tdata-head-cell {    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0.2rem 0.5rem;
    background-color: var(--color-table-head);
    text-transform: uppercase;
    font-weight: bold;
    height: 2rem;
}

.tdata-body-cell {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 1rem;
}

.tdata-odd-row {
    background-color: var(--color-table-odd);
}

.tdata-even-row {
    background-color: var(--color-table-even);
}

